<div>
	<h2> Inspiration </h2>
	<br />

	<p>
	        <b>tESPEEDo</b> is an acronym created which is meant to mean 'test your speed with friends'. Our game focuses on playing together with friends something which everyone can play. Typing is one of the things which most of our friends are thorough with. The knowledge could have been attained through countless number of hours spent coding or could be gained through long hours chatting. Either way everything comes in handy here and anyone can participate. To attain maximum enjoyment we need to do things with our friends whom we know well. tESPEEDo gives us an opportunity for that. 
	</p>

	<p>
        	<b>
		A chance for excitement, a chance for domination. So don't wait login and set the bar or 
		break the bar if its already set for you by friends. 
	        </b>
	</p>
</div>
