<div>
     <h1>Team</h1>
     <br />
     <p>
     tESPEEDo is a hobby project to experience and experiment with making a game. 
     The inspiration as stated has been largely to experiment how to build an application.
     </p>
     <div class="team-div">
	     <div class="team-div-image">
		     <img src="images/george.jpg" >
	     </div>
	     <div class="team-div-content">
		     <h4>
			     George Thomas
		     </h4>
		     <br />
		     <p>
		     George secured a Btech from Model Engineering College Cochin in 2011 and is currently working as a software Engineer. He started the experiment by building the prototype which was helped on later by his friends. George loves football and is a die hard Liverpool Fan.
		     </p>
		     <div>
			     <a href="http://www.linkedin.com/in/georgeagain">
				     <img src="images/linkedin.png"></img>
			     </a>
			     <a href="https://twitter.com/georgeagain">
				     <img src="images/twitter.png"></img>
			     </a>
		     </div>
	     </div>
     </div>

     <div class="team-div">
	     <div class="team-div-image">
		     <a href="http://www.vivingeorge.com">
			     <img src="images/vivin.jpg" >
	             </a>
	     </div>
	     <div class="team-div-content">
		     <h4>
			     Vivin George
		     </h4>
		     <br />
		     <p>
		     Vivin secured a Btech from Model Engineering College Cochin in 2011 and is currently working as a software Engineer. Vivin got involved when he saw the difficulty faced by George in making the UI and volunteered to make the User Interface really cool. Vivin recently got interested in football and is a supporter of rich clubs like Manchester City and Barcelona FC.</p>
		     <div>
			     <a href="http://www.linkedin.com/in/vivingeorge">
				     <img src="images/linkedin.png"></img>
			     </a>
			     <a href="https://twitter.com/vivingeorge89">
				     <img src="images/twitter.png"></img>
			     </a>
		     </div>
	     </div>
     </div>

</div>
